[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest-django = "*"
requests = "*"
sorl-thumbnail = "*"
djangorestframework = "*"
Pillow = "*"
Django = "*"
isort = "*"
pylint = "*"

[requires]
python_version = "3.8"
